@model Geographics;
@{
    ViewData["Title"] = "Country";
}

<h2>Countries</h2>

@*<form class="form" id="filter" asp-controller="EntityPersons" asp-action="Index" method="post">
        @Html.AntiForgeryToken()
        <label asp-for="filterN">Name filter:</label>
        <input asp-for="filterN" type="text" id="filterN" name="filterN" />
        <label asp-for="filterC">City filter:</label>
        <input asp-for="filterC" type="text" id="filterC" name="filterC" />
        <input class="btn btn-primary" type="submit" value="Search" />
    </form>*@

@*<form class="form" id="person" asp-controller="EntityPersons" asp-action="AddPerson" method="post">
        @Html.AntiForgeryToken()
        <label asp-for="Name">Name</label>
        <input asp-for="Name" type="text" id="Name" name="Name" required />
        <label asp-for="City">City:</label>
        <input asp-for="City" type="text" id="City" name="City" required />
        <label asp-for="PhoneNr">Phone:</label>
        <input asp-for="PhoneNr" type="text" id="PhoneNr" name="PhoneNr" required />
        <input class="btn btn-primary" type="submit" value="AddPerson" />
    </form>*@




<table class="tablePersons">
    <tdead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Cities</th>
        </tr>
    </tdead>
    <tbody>
        @foreach (CountryModel cm in Model.CountryList)
        {
            <tr>
                <td>@cm.CountryId</td>
                <td>@cm.Name</td>
                <td>@cm.Cities.Count()</td>
                <td><a href="/Country/Delete?id=@cm.CountryId">Remove</a></td>
            </tr>
        }
    </tbody>
</table>