@model Geographics;
@{
    ViewData["Title"] = "City";
}

<h2>Cities</h2>

<form class="form" id="person" asp-controller="City" asp-action="Add" method="post">
    @Html.AntiForgeryToken()
    <label asp-for="Name">Name</label>
    <input asp-for="Name" type="text" id="Name" name="Name" required />
    <label asp-for="idToAdd">Country:</label>
    <select id="idToAdd" asp-for="idToAdd" name="idToAdd" >
        <option value="" hidden="hidden">Choose country</option>
        @foreach (CountryModel cm in Model.CountryList)
        {
            <option value="@cm.CountryId">@cm.Name</option>
        }
        </select>
    <input class="btn btn-primary" type="submit" value="Add" />
</form>




<table class="tablePersons">
    <tdead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Country</th>
        </tr>
    </tdead>
    <tbody>
        @foreach (CityModel cm in Model.CityList)
        {
        <tr>
            <td>@cm.CityId</td>
            <td>@cm.Name</td>
            <td>@cm.Country.Name</td>
            <td><a href="/City/Delete?id=@cm.CityId">Remove</a></td>
        </tr>
        }
    </tbody>
</table>